<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pers.xiaoming.springcloud.dao.IStudentDao">

    <insert id="create">
        insert into student(name, score) values (#{name}, #{score})
    </insert>

    <select id="selectById" resultType="Student">
        select id, name, score from student where id={#id} limit 1;
    </select>

    <select id="selectAll" resultType="Student">
        select id, name, score from student limit 100
    </select>
</mapper>